In [163]:
import pandas as pd
import browser_cookie3
import requests
import numpy as np

In [164]:
COOKIE_DATA = browser_cookie3.chrome()

In [165]:
def create_full_df(url, cookies):
    PAGE_OFFSET_INCR = 200
    offset = 0
    df = pd.DataFrame()
    for x in range(5):
        try:
            url_offset = url + '&offset='+str(offset)
            response = requests.get(url_offset, cookies=COOKIE_DATA)
            temp_df = pd.read_html(response.text)[0]
            df = pd.concat([df, temp_df], ignore_index=True, axis=0)
            offset += PAGE_OFFSET_INCR
        except:
            pass
    return df

In [166]:
def initial_table_clean (dataframe):
    # Might have to make exception for when not 2 levels
    try:
        dataframe.columns = dataframe.columns.droplevel()
    except:
        pass
    dataframe.drop(dataframe.columns[[0]], axis=1, inplace=True)
    dataframe = dataframe.loc[:,~dataframe.columns.duplicated()].copy()
    if ('Unnamed: 7_level_1' in dataframe):
        dataframe = dataframe.rename(columns={'Unnamed: 7_level_1' : 'Home'})
    else:
        dataframe = dataframe.rename(columns={'Unnamed: 7' : 'Home'})
    dataframe['Home'] = np.where(dataframe['Home'] == '@', 1, 0)
    
    colname = (list(dataframe.columns))[2]
    colmove = dataframe.pop(colname)
    dataframe.insert(8, colmove.name, colmove)
    return dataframe

In [167]:
offList = []

In [168]:
url = 'https://stathead.com/football/team-game-finder.cgi?request=1&order_by=points&year_min=2022&year_max=2022'
GAME_POINTS = initial_table_clean(create_full_df(url, COOKIE_DATA))
GAME_POINTS.drop(['Pts.1'], axis=1, inplace=True)
display(GAME_POINTS)
offList.append(GAME_POINTS)
GAME_POINTS.name = 'GAME_POINTS'

    Team        Date  Day  G#  Week  Home  Opp   Result  Pts  PtsO  PtDif  PC
0    DAL  2022-12-04  Sun  12    13     0  IND  W 54-19   54    19     35  73
1    LAR  2022-12-25  Sun  15    16     0  DEN  W 51-14   51    14     37  65
2    DAL  2022-10-30  Sun   8     8     0  CHI  W 49-29   49    29     20  78
3    PHI  2022-12-11  Sun  13    14     1  NYG  W 48-22   48    22     26  70
4    SEA  2022-10-02  Sun   4     4     1  DET  W 48-45   48    45      3  93
..   ...         ...  ...  ..   ...   ...  ...      ...  ...   ...    ...  ..
537  DAL  2022-09-11  Sun   1     1     0  TAM   L 3-19    3    19    -16  22
538  NOR  2022-11-27  Sun  12    12     1  SFO   L 0-13    0    13    -13  13
539  LVR  2022-10-30  Sun   7     8     1  NOR   L 0-24    0    24    -24  24
540  DET  2022-10-09  Sun   5     5     1  NWE   L 0-29    0    29    -29  29
541  IND  2022-09-18  Sun   2     2     1  JAX   L 0-24    0    24    -24  24

[542 rows x 12 columns]

In [169]:
url ='https://stathead.com/football/team-game-finder.cgi?request=1&order_by=vegas_line&year_min=2022&year_max=2022'
VEGAS = initial_table_clean(create_full_df(url, COOKIE_DATA))
display(VEGAS)

,Team,Date,Day,G#,Week,Home,Opp,Result,Spread,vs. Line,Over/Under,OU Result
0,HOU,2022-12-11,Sun,13,14,1,DAL,L 23-27,17.0,covered,44.0,over
1,NYG,2023-01-08,Sun,17,18,1,PHI,L 16-22,16.0,covered,42.0,under
2,LAR,2022-11-27,Sun,11,12,1,KAN,L 10-26,15.5,did not cover,42.0,under
3,HOU,2022-12-18,Sun,14,15,0,KAN,L 24-30 (OT),14.5,covered,48.5,over
4,ARI,2023-01-08,Sun,17,18,1,SFO,L 13-38,14.0,did not cover,39.5,over
...,...,...,...,...,...,...,...,...,...,...,...,...
537,BUF,2022-10-09,Sun,5,5,0,PIT,W 38-3,-14.0,covered,45.5,under
538,KAN,2022-12-18,Sun,14,15,1,HOU,W 30-24 (OT),-14.5,did not cover,48.5,over
539,KAN,2022-11-27,Sun,11,12,0,LAR,W 26-10,-15.5,covered,42.0,under
540,PHI,2023-01-08,Sun,17,18,0,NYG,W 22-16,-16.0,did not cover,42.0,under
541,DAL,2022-12-11,Sun,13,14,0,HOU,W 27-23,-17.0,did not cover,44.0,over

In [170]:
url = 'https://stathead.com/football/team-game-finder.cgi?request=1&order_by=pass_cmp&year_min=2022&year_max=2022'
PASSING_OFF = initial_table_clean(create_full_df(url, COOKIE_DATA))
display(PASSING_OFF)
offList.append(PASSING_OFF)
PASSING_OFF.name = 'PASSING_OFF'

,Team,Date,Day,G#,Week,Home,Opp,Result,Cmp,Att,...,Int%,Rate,Sk,Yds.1,Sk%,Y/A,NY/A,AY/A,ANY/A,Y/C
0,KAN,2022-11-06,Sun,8,9,0,TEN,W 20-17 (OT),43,68,...,1.5,80.9,4,24,5.56,6.2,5.86,5.84,5.51,9.8
1,IND,2022-10-16,Sun,6,6,0,JAX,W 34-27,42,58,...,0.0,107.6,0,0,0.00,6.7,6.71,7.74,7.74,9.3
2,BUF,2022-09-25,Sun,3,3,1,MIA,L 19-21,42,63,...,0.0,94.7,4,18,5.97,6.1,5.70,6.70,6.30,9.1
3,CIN,2022-12-24,Sat,15,16,1,NWE,W 22-18,40,52,...,3.8,99.4,2,6,3.70,7.1,6.83,6.52,6.28,9.2
4,LAC,2022-12-11,Sun,13,14,0,MIA,W 23-17,39,51,...,0.0,102.3,4,17,7.27,6.9,6.36,7.25,6.73,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,ATL,2022-10-02,Sun,4,4,0,CLE,W 23-20,7,19,...,5.3,41.3,1,8,5.00,6.9,6.55,4.53,4.30,18.7
538,CHI,2022-09-18,Sun,2,2,1,GNB,L 10-27,7,11,...,9.1,43.8,3,22,21.43,4.4,3.43,0.27,0.21,6.9
539,TEN,2022-10-30,Sun,7,8,1,HOU,W 17-10,6,10,...,10.0,35.4,3,15,23.08,4.0,3.08,-0.50,-0.38,6.7
540,CAR,2023-01-08,Sun,17,18,1,NOR,W 10-7,5,15,...,13.3,2.8,2,11,11.76,2.1,1.88,-3.87,-3.41,6.4
541,TEN,2022-11-06,Sun,8,9,1,KAN,L 17-20 (OT),5,16,...,0.0,49.0,3,23,15.79,3.6,3.00,3.56,3.00,11.4

In [171]:
url = 'https://stathead.com/football/team-game-finder.cgi?request=1&order_by=rush_att&year_min=2022&year_max=2022'
RUSHING_OFF = initial_table_clean(create_full_df(url, COOKIE_DATA))
display(RUSHING_OFF)
offList.append(RUSHING_OFF)
RUSHING_OFF.name = 'RUSHING_OFF'

    Team        Date  Day  G#  Week  Home  Opp   Result  Att  Yds  Y/A  TD
0    PHI  2022-10-02  Sun   4     4     0  JAX  W 29-21   50  210  4.2   4
1    PHI  2022-11-27  Sun  11    12     0  GNB  W 40-33   49  363  7.4   3
2    WAS  2022-11-14  Mon  10    10     1  PHI  W 32-21   49  152  3.1   2
3    NOR  2022-10-09  Sun   5     5     0  SEA  W 39-32   48  235  4.9   3
4    NYG  2022-11-13  Sun   9    10     0  HOU  W 24-16   47  191  4.1   1
..   ...         ...  ...  ..   ...   ...  ...      ...  ...  ...  ...  ..
537  LAC  2022-09-25  Sun   3     3     0  JAX  L 10-38   12   26  2.2   0
538  MIN  2022-09-19  Mon   2     2     1  PHI   L 7-24   11   62  5.6   0
539  CIN  2022-10-31  Mon   8     8     1  CLE  L 13-32   10   36  3.6   0
540  MIA  2022-12-04  Sun  12    13     1  SFO  L 17-33    8   33  4.1   0
541  TAM  2022-10-02  Sun   4     4     0  KAN  L 31-41    6    3  0.5   1

[542 rows x 12 columns]

In [172]:
url ='https://stathead.com/football/team-game-finder.cgi?request=1&order_by=tot_yds&year_min=2022&year_max=2022'
TOTAL_YARDAGE = initial_table_clean(create_full_df(url, COOKIE_DATA))
display(TOTAL_YARDAGE)
offList.append(TOTAL_YARDAGE)
TOTAL_YARDAGE.name = 'TOTAL_YARDAGE'

,Team,Date,Day,G#,Week,Home,Opp,Result,Tot,Ply,Y/P,DPly,DY/P,TO,ToP,Time
0,LVR,2022-11-27,Sun,11,12,1,SEA,W 40-34 (OT),576,77,7.48,63,5.90,2,37:35,3:30
1,CAR,2022-12-24,Sat,15,16,0,DET,W 37-23,570,65,8.77,61,6.25,0,35:13,3:07
2,SEA,2022-10-02,Sun,4,4,1,DET,W 48-45,555,63,8.81,66,7.88,1,33:06,3:29
3,BUF,2022-10-09,Sun,5,5,0,PIT,W 38-3,552,54,10.22,72,5.06,2,23:52,3:10
4,MIA,2022-09-18,Sun,2,2,1,BAL,W 42-38,547,69,7.93,54,8.76,2,34:47,3:20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,HOU,2022-10-30,Sun,7,8,0,TEN,L 10-17,161,51,3.16,58,6.10,1,25:12,2:51
538,LAR,2022-12-19,Mon,14,15,1,GNB,L 12-24,156,43,3.63,68,5.07,1,22:41,2:57
539,HOU,2022-11-20,Sun,10,11,0,WAS,L 10-23,148,54,2.74,67,5.13,2,25:04,2:54
540,IND,2022-11-06,Sun,9,9,1,NWE,L 3-26,121,60,2.02,62,3.27,1,28:54,3:00
541,NYJ,2022-11-20,Sun,10,11,1,NWE,L 3-10,103,49,2.10,59,5.03,0,24:30,2:59

In [173]:
url = 'https://stathead.com/football/team-game-finder.cgi?request=1&order_by=penalties&year_min=2022&year_max=2022'
PENALTIES_OFF = initial_table_clean(create_full_df(url, COOKIE_DATA))
display(PENALTIES_OFF)
offList.append(PENALTIES_OFF)
PENALTIES_OFF.name = 'PENALTIES_OFF'

,Team,Date,Day,G#,Week,Home,Opp,Result,Pen,Yds,OppPen,OppYds,CombPen,CombPenYds
0,LVR,2022-12-18,Sun,14,15,0,NWE,W 30-24,13,90,6,30,19,120
1,DAL,2022-11-24,Thu,11,12,0,NYG,W 28-20,13,86,7,66,20,152
2,JAX,2022-10-23,Sun,7,7,0,NYG,L 17-23,13,81,8,67,21,148
3,DEN,2022-09-18,Sun,2,2,0,HOU,W 16-9,13,100,8,94,21,194
4,JAX,2022-09-11,Sun,1,1,1,WAS,L 22-28,13,90,6,63,19,153
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,ATL,2022-10-02,Sun,4,4,0,CLE,W 23-20,1,15,7,51,8,66
538,BAL,2022-09-18,Sun,2,2,0,MIA,L 38-42,1,5,8,51,9,56
539,SFO,2022-09-18,Sun,2,2,0,SEA,W 27-7,1,26,10,106,11,132
540,DET,2022-09-18,Sun,2,2,0,WAS,W 36-27,1,5,2,17,3,22
541,KAN,2022-11-13,Sun,9,10,0,JAX,W 27-17,0,0,5,30,5,30

In [174]:
url ='https://stathead.com/football/team-game-finder.cgi?request=1&order_by=first_down&year_min=2022&year_max=2022'
DOWNS_OFF = initial_table_clean(create_full_df(url, COOKIE_DATA))
display(DOWNS_OFF)
offList.append(DOWNS_OFF)
DOWNS_OFF.name = 'DOWNS_OFF'

,Team,Date,Day,G#,Week,Home,Opp,Result,1stD,Rsh,Pass,Pen,3DAtt,3DConv,3D%,4DAtt,4DConv,4D%
0,KAN,2022-12-18,Sun,14,15,1,HOU,W 30-24 (OT),33,11,20,2,12,6,50.0,0,0,NaN
1,KAN,2022-09-11,Sun,1,1,1,ARI,W 44-21,33,7,22,4,8,5,62.5,1,1,100.0
2,IND,2022-09-11,Sun,1,1,1,HOU,T 20-20 (OT),33,11,20,2,15,6,40.0,1,0,0.0
3,MIN,2022-12-17,Sat,14,15,0,IND,W 39-36 (OT),32,4,22,6,15,5,33.3,3,0,0.0
4,CIN,2022-09-11,Sun,1,1,0,PIT,L 20-23 (OT),32,5,22,5,16,8,50.0,3,1,33.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,LAR,2022-11-06,Sun,8,9,1,TAM,L 13-16,9,3,6,0,15,4,26.7,0,0,NaN
538,IND,2022-09-18,Sun,2,2,1,JAX,L 0-24,9,3,6,0,10,2,20.0,2,0,0.0
539,IND,2022-11-06,Sun,9,9,1,NWE,L 3-26,8,4,3,1,14,0,0.0,2,0,0.0
540,CAR,2022-10-16,Sun,6,6,1,LAR,L 10-24,8,3,5,0,10,2,20.0,0,0,NaN
541,NYJ,2022-11-20,Sun,10,11,1,NWE,L 3-10,6,1,3,2,14,3,21.4,0,0,NaN

In [175]:
url ='https://stathead.com/football/team-game-finder.cgi?request=1&order_by=xpa&year_min=2022&year_max=2022'
SCORING_OFF = initial_table_clean(create_full_df(url, COOKIE_DATA))
display(SCORING_OFF)
offList.append(SCORING_OFF)
SCORING_OFF.name = 'SCORING_OFF'

,Team,Date,Day,G#,Week,Home,Opp,Result,XPA,TD,XPM,FGA,FGM,2PA,2PM,Sfty
0,DAL,2022-12-04,Sun,12,13,0,IND,W 54-19,7,8,6,0,0,1,0,0
1,DAL,2022-10-30,Sun,8,8,0,CHI,W 49-29,7,7,7,0,0,0,0,0
2,LAR,2022-12-25,Sun,15,16,0,DEN,W 51-14,6,6,6,3,3,0,0,0
3,PHI,2022-12-11,Sun,13,14,1,NYG,W 48-22,6,6,6,2,2,0,0,0
4,CIN,2022-11-06,Sun,9,9,0,CAR,W 42-21,6,6,6,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
537,HOU,2022-09-18,Sun,2,2,1,DEN,L 9-16,0,0,0,3,3,0,0,0
538,PIT,2022-09-18,Sun,2,2,0,NWE,L 14-17,0,1,0,2,2,1,1,0
539,IND,2022-09-18,Sun,2,2,1,JAX,L 0-24,0,0,0,0,0,0,0,0
540,CIN,2022-09-18,Sun,2,2,1,DAL,L 17-20,0,1,0,3,3,1,1,0
541,DAL,2022-09-11,Sun,1,1,0,TAM,L 3-19,0,0,0,1,1,0,0,0

In [176]:
url = 'https://stathead.com/football/team-game-finder.cgi?request=1&order_by=punt&year_min=2022&year_max=2022'
PUNTING_OFF = initial_table_clean(create_full_df(url, COOKIE_DATA))
display(PUNTING_OFF)
offList.append(PUNTING_OFF)
PUNTING_OFF.name = 'PUNTING_OFF'

,Team,Date,Day,G#,Week,Home,Opp,Result,Pnt,Yds,Y/P,Blck
0,DAL,2023-01-08,Sun,17,18,1,WAS,L 6-26,10,478,47.8,0
1,NYJ,2022-11-20,Sun,10,11,1,NWE,L 3-10,10,458,45.8,0
2,MIN,2022-10-16,Sun,6,6,1,MIA,W 24-16,10,441,44.1,0
3,DEN,2022-09-25,Sun,3,3,0,SFO,W 11-10,10,476,47.6,0
4,TAM,2022-11-27,Sun,11,12,1,CLE,L 17-23 (OT),9,425,47.2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
537,DET,2022-12-04,Sun,12,13,0,JAX,W 40-14,0,0,NaN,0
538,MIA,2022-11-13,Sun,10,10,0,CLE,W 39-17,0,0,NaN,0
539,SEA,2022-10-02,Sun,4,4,1,DET,W 48-45,0,0,NaN,0
540,LAR,2022-09-18,Sun,2,2,0,ATL,W 31-27,0,0,NaN,1
541,BUF,2022-09-08,Thu,1,1,1,LAR,W 31-10,0,0,NaN,0

In [177]:
for df in offList:
    df.to_csv('./STORED_TABLES/OFFENSE/'+ df.name +'.csv')